# visdom
visdom==0.1.8.8

# data
scipy
scikit-learn
numpy
pillow
pandas

# utils (debugging)
pdbpp
ipdb
ipython
jupyter
jupyterthemes
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator

# utils (others)
colorama
tqdm
lmdb
requests
fake-useragent
opendatasets